#container {
    width: 730px;
}

.navbar {
    margin-top: 144px;
}

.searchBar {
    &__noResults {
        right: 138px;
    }
}

.card {
    position: relative;
    min-height: 419px;
    height: 419px;
    padding: 48px;
    &__img img {
        margin-right: 37px;
    }
    &__profileDate {
        margin-top: 4px;
    }
    &__profileInfo {
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
        width: 480px;
    }
    &__profileTitle {
        width: 300px;
        margin-top: -5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__bio {
        min-height: 25px;
    }
    &__wrapper {
        width: 480px;
        position: absolute;
        right: 48px;
        top: 130px;
    }
    &__userData {
        margin-bottom: 37px;
    }
}

.attribution {
    font-size: 13px;
}