$Fuente1: 'Space Mono', monospace;
$Dark-bg: #141D2F;
$White: #FFFFFF;
$Light-White: #FEFEFE;
$Deep-Blue: #1E2A47;
$Dark-text: #2B3442;
$Light-Blue: #0079FF;
$Grey: #697C9A;
$Grey-Blue: #4B6A9B;
$Light-Grey: #F6F8FF;
$Box-Shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

@mixin darkBox {
    background-color: $Deep-Blue;
    border-radius: 15px;
    color: $White;
}

@mixin darkmode-text {
    color: $White;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Fuente1;
}
body {
    width: 100%;
    background-color: $Dark-bg;
    transition: .3s ease all;

    &.light {
        background-color: $Light-Grey;
    }
}
#container {
    color: $White;
    width: 327px;
    margin: 0 auto;
}

.navbar {
    margin-top: 31px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;

    body.light & {
        &__title {
            color: $Dark-text;
        }
        &__subtitle:first-child {
            display: none;
        }
        &__subtitle {
            color: $Grey;
            display: flex;
        }
        &__icon {
            fill: $Grey;
        }
        &__subtitle,
        &__subtitle svg {
            color: #222731;
            fill: #222731;
        }
        &__subtitle:hover,
        &__subtitle:hover svg {
            color: $Grey-Blue;
            fill: $Grey-Blue;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 700;
        cursor: default;
    }
    &__subtitle {
        font-size: 13px;
        font-weight: 700;
        align-self: center;
        text-transform: uppercase;
        display: flex;
        justify-content: end;
        align-items: center;
        letter-spacing: 2.5px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 12px;
    }
    &__subtitle:last-child {
        display: none;
    }
    #switch {
        position: relative;
    }
    &__icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        fill: $White;
        margin-left: 16px;
    }
    &__subtitle:hover,
    &__subtitle:hover svg {
        color: #90A4D4;
        fill: #90A4D4;
    }
}

.searchBar {
    height: 60px;
    margin-bottom: 16px;
    color: $White;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    @include darkBox;

    body.light & {
        background-color: $Light-White;
        box-shadow: $Box-Shadow;
        &__input,
        &__input::placeholder {
            color: $Grey-Blue;
        }
    }

    &__icon {
        background-image: url('../assets/icon-search.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        align-self: center;
        margin-left: 16px;
    }
    &__input {
        background-color: transparent;
        border: none;
        width: 184px;
        font-size: 13px;
        justify-self: center;
        color: inherit;
        caret-color: $Light-Blue;
        text-overflow: ellipsis;
    }
    &__input::placeholder {
        color: $White;
    }
    &__input:focus::placeholder {
        color: transparent;
    }
    &__input:focus-visible, 
    &__input:active,
    &__input:focus {
        outline: none;
    }
    &__noResults {
        position: absolute;
        top: 18px;
        right: 100px;
        color: #F74646;
        font-weight: 700;
        font-size: 15px;
        display: none;
    }
    &__button {
        background-color: $Light-Blue;
        border: none;
        border-radius: 10px;
        color: inherit;
        width: 84px;
        height: 46px;
        margin: 7px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }
    &__button:hover {
        background-color: #60ABFF;
    }
}

.card {
    @include darkBox;
    padding: 32px 24px 48px;
    min-height: 517px;

    body.light & {
        background-color: $Light-White;
        box-shadow: $Box-Shadow;
        &__profileTitle {
            color: $Dark-text;
        }
        &__profileDate {
            color: $Grey;
        }
        &__bio {
            color: $Grey-Blue;
        }
        &__userData {
            background-color: $Light-Grey;
        }
        &__dataTitle {
            color: $Grey-Blue;
        }
        &__dataNumber {
            color: $Dark-text;
        }
        &__icon--contact,
        &__text,
        &__text a {
            fill: $Grey-Blue;
            color: $Grey-Blue;
        }
    }

    &__profile {
        display: flex;
        width: inherit;
        margin-bottom: 33px;
    }
    &__img img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__profileTitle {
        font-size: 16px;
    }
    &__profileUserName a {
        font-size: 13px;
        color: $Light-Blue;
        text-decoration: none;
    }
    &__profileUserName a:hover {
        text-decoration: underline;
    }
    &__profileDate {
        margin-top: 6px;
        font-size: 13px;
    }
    &__bio {
        font-size: 13px;
        margin-bottom: 23px;
        line-height: 25px;
        min-height: 75px;
    }
    &__userData {
        background-color: $Dark-bg;
        display: flex;
        border-radius: 10px;
        height: 85px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
    }
    &__dataTitle {
        font-size: 11px;
    }
    &__dataNumber {
        font-size: 16px;
        font-weight: 700;
    }
    &__userContact {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        min-height: 127px;
    }
    &__userWrap {
        display: flex;
        margin-bottom: 16px;
    }
    &__icon--contact {
        width: 25px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 13px;
        fill: $White;
    }
    &__text {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__text a {
        text-decoration: none;
        color: $White;
    }
    &__text a:hover {
        text-decoration: underline;
    }
}

.attribution {
    text-align: center;
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 31px;
    line-height: 20px;
    letter-spacing: 2px;
    a {
        color: $Grey-Blue;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    body.light & {
        color: $Grey-Blue;
        a {
            color: $Light-Blue;
        }
    }
}